@use "./util" as *;

.accordion {
  padding: 1rem;
  width: 100%;
  background-color: $bg-dim;
  border-radius: 10px;
  @include init-box-shadow();
  @include init-flex(column, 1rem, start, center);
  .accordion-heading {
    width: 100%;
    @include init-flex(row, 1rem, space-between, center);

    div {
      @include init-flex(row, 0.5rem, start, center);
    }
  }

  .accordion-separator {
    width: 100%;
    height: 1px;
    background-color: $border;
  }

  .accordion-content {
    width: 100%;
    background-color: $bg-dim;
    border-radius: 10px;
    border: 1px solid $border;
    overflow: hidden;
    @include init-flex(column, auto, start, start);

    .inner-accordion-heading {
      width: 100%;
      background-color: $white;
      padding: 1rem;
      border-bottom: 1px solid $border;
      @include init-flex(row, 0.5rem, start, center);

      .price {
        color: $light-grey;
      }
    }

  }
}