@use "./util" as *;

// general style
.claims-btn,
.card-btn,
.table-btn,
.ghost-btn,
.ghost-btn-active,
.accordion-btn {
  cursor: pointer;
  border: none;
  -webkit-user-select: none;
  user-select: none;
  @include init-flex(row, auto, center, center);
  font-size: $text-p-size;
}

// ghost
.ghost-btn {
  background-color: transparent;
  color: $light-grey;
}

.ghost-btn:hover {
  color: $black;
  border-bottom: 2px $black solid;
}

.ghost-btn-active {
  color: $black;
  border-bottom: 2px $black solid;
}

// claims
.claims-btn {
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: $black;
  border-radius: 100px;
  color: $white;
}

// customer-card
.card-btn {
  padding: 0.5rem;
  width: 100%;
}

.card-active-btn {
  color: $white;
  background-color: $black;
  border: 1px $black solid;
}

.card-inactive-btn {
  background-color: $inactive-bg;
  border: 1px $border solid;
}

.card-inactive-btn:hover {
  color: $white;
  background-color: $black;
  border: 1px $black solid;
}

// table
.table-btn {
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 5px;
  border: 1px $white solid;
  @include init-box-shadow();
  @include init-flex(row, 0.25rem, center, center);
}

.table-btn:hover {
  border: 1px $black solid;
}

// accordion
.accordion-btn {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px $border solid;

  img {
    width: 1rem;
    height: 1rem;
  }
}
