//Colors
$white: #f0f0f0;
$bg-dim: #e7e7e7;
$black: #161616;
$border: #d7d7d7;
$light-grey: #959595;
$grey: #535353;
$active-text: #098800;
$active-bg: #0db60141;
$inactive-text: $grey;
$inactive-bg: #95959520;

//Typeface
$main-font: "Poppins", sans-serif;
$text-h1-size: 3.3rem;
$text-h2-size: 3rem;
$text-h3-size: 2.5rem;
$text-h4-size: 1.75rem;
$text-h5-size: 1.25rem;
$text-p-size: 1rem;
$text-label-size: 0.75rem;

//Mixins
@mixin init-flex(
  $direction,
  $gap: auto,
  $justify-content: flex-start,
  $align-items: flex-start
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin init-box-shadow(){
  box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.2);
}

@mixin init-grid-columns(
  $columns,
  $gap: auto,
  $justify-content: flex-start,
  $align-items: start
) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin init-grid-rows(
  $rows,
  $gap: auto,
  $justify-content: flex-start,
  $align-items: start
) {
  display: grid;
  grid-template-rows: $rows;
  gap: $gap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin init-section() {
  min-height: 100vh;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@mixin gradient-radial($color1, $color2) {
  background: linear-gradient($color1, $color2);
}
