//Colors
$white: #f0f0f0;
$black: #161616;
$light-grey: #959595;
$grey: #535353;

//Typeface
$main-font: "Poppins", sans-serif;
$text-h1-size: 3.3rem;
$text-h2-size: 3rem;
$text-h3-size: 2.5rem;
$text-h4-size: 1.75rem;
$text-h5-size: 1.25rem;
$text-p-size: 1rem;

//Mixins
@mixin init-flex(
  $direction,
  $gap: auto,
  $justify-content: flex-start,
  $align-items: flex-start
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin gradient-radial($color1, $color2) {
  background: linear-gradient($color1, $color2);
}
