@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#page1 section {
  grid-template-columns: 1fr 3fr;
  display: grid;
  min-height: 100vh;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

#page1 section .section-small {
  background-color: #e7e7e7;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

#page1 section .section-small .main-small {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
}

#page1 section .section-small .main-small .text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
  align-items: flex-start;
}

#page1 section .section-small .save {
  color: #959595;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

#page1 section .section-large {
  padding: 6rem;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
}

#page1 section .section-large .main-large {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

#page1 section .section-large .main-large .text {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

#page1 section .section-large .main-large .text .clear {
  color: #959595;
  cursor: pointer;
  text-decoration: underline;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

#page1 section .section-large .main-large .filters {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr;
  gap: auto;
  justify-content: center;
  align-items: center;
}

#page1 section .section-large .main-large .filters .filter {
  background-color: #e7e7e7;
  height: 100%;
  padding: 0.75rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

#page1 section .section-large .main-large .filters .filter .filter-children {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

#page1 section .section-large .main-large .filters .search {
  color: #f0f0f0;
  padding: 0.75rem;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#959595, #d7d7d7);
}

#page1 section .section-large .main-large .filters .search p {
  font-weight: 400;
}

#page1 section .section-large .cards-large {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

#page1 section .section-large .cards-large .cards-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: start;
}

#page2 section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

#page2 section .upper-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3.5fr 2fr;
  gap: 2rem;
  justify-content: flex-start;
  align-items: start;
}

#page2 section .upper-section .claims-section .claims-nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

#page2 section .upper-section .claims-section .claims-nav p {
  cursor: pointer;
  color: #959595;
}

#page2 section .upper-section .claims-section .claims-nav .active {
  color: #161616;
}

#page2 section .upper-section .claims-section .claims-main {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#page2 section .upper-section .claims-profile {
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  justify-content: end;
  align-items: center;
}

#page2 section .upper-section .claims-profile .user-info {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: start;
  align-items: center;
}

#page2 section .upper-section .claims-profile .user-info .claims-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

#page2 section .upper-section .claims-profile .user-info .claims-title {
  color: #959595;
}

.claims-btn,
.card-btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  display: flex;
  flex-direction: row;
  gap: auto;
  justify-content: center;
  align-items: center;
}

.claims-btn {
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #161616;
  border-radius: 100px;
  color: #f0f0f0;
}

.card-btn {
  padding: 0.5rem;
}

.card-active-btn {
  color: #f0f0f0;
  background-color: #161616;
  border: 1px #161616 solid;
}

.card-inactive-btn {
  background-color: rgba(149, 149, 149, 0.1254901961);
  border: 1px #d7d7d7 solid;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.prgs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.prgs-line {
  z-index: 1;
  width: 2px;
  height: 90%;
  background-color: #d7d7d7;
  position: absolute;
  top: 50%;
  left: 4.5%;
  transform: translateY(-50%);
}

.prgs .active-prgs,
.prgs .default-prgs {
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.prgs .active-circle,
.prgs .default-circle {
  border-radius: 100px;
  height: 1.25rem;
  width: 1.25rem;
}

.prgs .active-prgs .active-circle {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: #161616;
}

.prgs .active-prgs .active-circle .small-circle {
  border-radius: 100px;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #f0f0f0;
}

.prgs .default-prgs {
  color: #959595;
}

.prgs .default-prgs .default-circle {
  background: linear-gradient(#959595, #d7d7d7);
}

.customer-card {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.2);
}

.customer-card .upper-card {
  border-bottom: 1px #d7d7d7 solid;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.customer-card .upper-card .customer-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

.customer-card .upper-card .customer-details .customer-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.customer-card .upper-card .customer-details .customer-id {
  color: #959595;
}

.customer-card .upper-card .customer-status .active {
  color: #098800;
  background-color: rgba(13, 182, 1, 0.2549019608);
}

.customer-card .upper-card .customer-status p {
  font-size: 0.75rem;
}

.customer-card .upper-card .customer-status .default {
  color: #535353;
  background-color: rgba(149, 149, 149, 0.1254901961);
}

.customer-card .upper-card .customer-status .active,
.customer-card .upper-card .customer-status .default {
  border-radius: 100px;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: auto;
  justify-content: center;
  align-items: center;
}

.customer-card .lower-card {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: flex-start;
  align-items: start;
}

.customer-card .lower-card .label {
  color: #959595;
  font-size: 0.75rem;
}

.customer-card .lower-card .lower-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #161616;
}

.logo-placeholder {
  width: 50px;
  height: 50px;
  background-color: #535353;
  border-radius: 100px;
}/*# sourceMappingURL=index.css.map */