@use "../assets/util" as *;

#page1 {
  section {
    grid-template-columns: 1fr 3fr;
    display: grid;
    @include init-section();

    .section-small {
      background-color: $bg-dim;
      padding: 2rem;
      @include init-flex(column, 1rem, space-between);

      .main-small {
        @include init-flex(column, 2rem);

        .text {
          @include init-flex(column, 0.25rem);
        }
      }

      .save {
        color: $light-grey;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
      }
    }

    .section-large {
      padding: 6rem;
      padding-top: 8rem;
      @include init-flex(column, 2rem);

      .main-large {
        width: 100%;
        @include init-flex(column, 1rem);

        .text {
          width: 100%;
          @include init-flex(row, 1rem, space-between, center);

          .clear {
            color: $light-grey;
            cursor: pointer;
            text-decoration: underline;
            -webkit-user-select: none;
            user-select: none;
          }
        }

        .filters {
          width: 100%;
          @include init-grid-columns(
            repeat(4, 1fr),
            1rem,
            space-between,
            center
          );
          @include init-grid-rows(1fr, auto, center, center);

          .filter {
            background-color: $bg-dim;
            height: 100%;
            padding: 0.75rem;
            border-radius: 10px;
            @include init-flex(row, 1rem, space-between, center);

            .filter-children {
              @include init-flex(row, 0.5rem, center, center);
            }
          }

          .search {
            color: $white;
            padding: 0.75rem;
            border-radius: 100px;
            @include init-flex(row, 0.25rem, center, center);
            @include gradient-radial($light-grey, $border);

            p {
              font-weight: 400;
            }
          }
        }
      }

      .cards-large {
        width: 100%;
        @include init-flex(column, 1rem);

        .cards-grid {
          width: 100%;
          @include init-grid-columns(repeat(2, 1fr), 1.5rem);
        }
      }
    }
  }
}
