@use "../assets/util" as *;

#page1 {
  section {
    grid-template-columns: 1fr 3fr;
    display: grid;

    .section-small {
      background-color: #e7e7e7;
      padding: 2rem;
      @include init-flex(column, 1rem, space-between);

      .main-small {
        @include init-flex(column, 2rem);
        .logo-placeholder {
          width: 50px;
          height: 50px;
          background-color: $grey;
          border-radius: 100px;
        }

        .small-text {
          @include init-flex(column, 0.25rem);
        }
      }

      .save {
        color: $light-grey;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
      }
    }

    .section-large {
      padding: 2rem;
    }
  }
}
