@use "../assets/util" as *;

#page3 {
  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include init-section(900px);
    @include init-flex(column, 1.5rem, start, center);

    .price {
      color: $light-grey;
    }

    .details {
      background-color: $bg-dim;
      width: 100%;
      padding: 1rem;
      font-size: $text-label-size;
      @include init-flex(column, start, start, start);
    }

    .accordion-table {
      width: 100%;
      background-color: $white;
      padding: 1rem;

      .part-name {
        width: 200%;
      }

      .labor-description {
        width: 300%;
      }
    }
  }
}
